.hidden{
opacity: 0;
/* filter:blur(5px); */
transform:translateX(-5%);
transition: all ease-in-out 1s;
}
.show{
opacity: 1;
filter:blur(0);
transform: translateX(0);
}

@media(prefers-reduced-motion){
    .hidden{
        transition:none;
    }
}


















/* 
#about .about-text
 {
    opacity:1;  
    transform: translateX(-120px);   
    transition: all .35s ease-in
}

#about .about-text .show{
    opacity: 1;
    transform: none
}
 */
